---
import arrowSVG from "@assets/svg/link-arrow.svg?raw";
import { cn } from "@/lib/utils";
import type { Page_Pagecontent_Content_SplitSection } from "@/__generated__/graphql";
import StyledLink from "@/components/StyledLink.astro";

interface Props {
  link?: Page_Pagecontent_Content_SplitSection["link"];
  image?: Page_Pagecontent_Content_SplitSection["image"];
  textSection?: Page_Pagecontent_Content_SplitSection["textSection"];
  hasDecoration?: Page_Pagecontent_Content_SplitSection["hasDecoration"];
  imagePosition?: Page_Pagecontent_Content_SplitSection["imagePosition"];
}

const { link, image, textSection, hasDecoration, imagePosition } = Astro.props;

const isLinkProvided = Boolean(link?.url && link?.title);

/* conditional styling */
const styledSectionBackground =
  textSection?.background === "white"
    ? "bg-white text-black-950"
    : "bg-black-950 text-white";
const styledDescriptionColor =
  textSection?.background === "black" ? "text-white/60" : "text-black-950/60";
const styledImagePosition =
  imagePosition === "left" ? "md:order-1" : "md:order-2";
const styledTextSectionPosition =
  imagePosition === "left" ? "md:order-2" : "md:order-1";
const styledSectionColumns =
  imagePosition === "left"
    ? "md:grid-cols-[0.5fr,1fr] lg:grid-cols-[1fr_minmax(500px,750px)]"
    : "md:grid-cols-[1fr,0.5fr] lg:grid-cols-[minmax(500px,750px)_1fr]";

const styledHasDecoration = hasDecoration
  ? "relative after:absolute after:left-0 after:top-1/2 after:-translate-y-1/2 after:w-1.5 after:h-[100%] after:bg-decoration-gradient"
  : "";
---

<section
  class={cn(
    "grid grid-rows-[0.75fr,1fr] md:grid-rows-1 md:grid-cols-[1fr,0.5fr] items-center  max-h-[75dvh] overflow-hidden",
    styledSectionBackground,
    styledSectionColumns,
  )}
>
  <article
    class={cn(
      "order-2 h-fit max-w-4xl flex items-center md:my-44",
      styledTextSectionPosition,
      styledHasDecoration,
    )}
  >
    <div class="md:px-28">
      <div class="flex flex-col gap-5">
        <h2 class="uppercase text-4xl tracking-wide">{textSection?.title}</h2>
        <p class={cn("text-xs loose-description", styledDescriptionColor)}>
          {textSection?.text}
        </p>
      </div>
      <StyledLink link={link} anchorClassName="mt-12" />
    </div>
  </article>

  <img
    class={cn(
      "order-1 relative w-full h-auto md:h-full lg:max-h-[75dvh] object-cover object-center",
      styledImagePosition,
    )}
    src={image?.sourceUrl}
    alt={image?.altText}
    srcset={image?.srcSet}
  />
</section>
